.button-main {
    -fx-background-color: #d06969;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-background-radius: 12;
    -fx-border: none;
    -fx-text-fill: #ffffff;
}

.button-main:hover {
    -fx-background-color: #d25959;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-main-add {
    -fx-background-color: #31f1ad;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-main-add:hover {
    -fx-background-color: #25b985;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-main-edit {
    -fx-background-color: #0068ff;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-main-edit:hover {
    -fx-background-color: #1b35ff;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-edit {
    -fx-background-color: #0068ff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-edit:hover {
    -fx-background-color: #1b35ff;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-main-delete {
    -fx-background-color: #fd4545;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-main-delete:hover {
    -fx-background-color: #f62b2b;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-delete {
    -fx-background-color: #fd4545;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: 12;
    -fx-border: none;
}

.button-delete:hover {
    -fx-background-color: #f62b2b;
    -fx-background-radius: 12;
    -fx-border: none;
}

.date-picker {
    -fx-font-family: "Open Sans", "sans-serif";
    -fx-font-size: 16px;
}

.date-picker .text-field {
    -fx-text-fill: black;
}

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.scroll-bar:vertical .track {
    -fx-background-color: white;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #c7c5c5;
    -fx-background-radius: none;
}

.scroll-bar:vertical .increment-arrow, .decrement-arrow {
    -fx-background-color: black;
}

.flow-pane {
    -fx-font-family: "Open Sans";
    -fx-font-size: 16px;
}

.button-prev {
    -fx-background-color: rgba(1, 1, 1, 0);
    -fx-font-size: 16px;
}